doctype 5
html
  head
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='jquery-1.5.1.js')
    script(src='jquery.hotkeys-0.7.9.js')
    script(src='kinetic-v3.7.3.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/ui/map.js')
    script(src='/ui/toolbar.js')
    script(src='/ui/boatImage.js')
    script(src='/ui/food.js')
    script(src='socket.js')
    script
        $(document).ready(

            function()
            {
                var ignoreKey = false;
                $(document).bind('keyup', function(event) {
                if (ignoreKey)
                {
                    e.preventDefault();
                    return;
                }
                  if(event.which === 69){
                      if(event.shiftKey){
                          move('::ne');
                          ignoreKey = true;
                          setTimeout(function(){ignoreKey=false},1);
                          event.preventDefault();
                      }
                  }
                  if(event.which === 81)
                  {
                    if(event.shiftKey){
                        move('::nw');
                        event.preventDefault();
                    }
                  }
                  if(event.which === 90){
                      if(event.shiftKey){
                          move('::sw');
                          event.preventDefault();
                      }
                  }
                  if(event.which === 87){
                    if(event.shiftKey){
                        move('::n');
                        event.preventDefault();
                    }
                  }
                  if(event.which === 88){
                      if(event.shiftKey){
                          move('::s');
                          event.preventDefault();
                      }
                    }
                  if(event.which === 68){
                    if(event.shiftKey){
                        move('::e');
                        event.preventDefault();
                    }
                  }
                  if(event.which === 67){
                    if(event.shiftKey){
                        move('::se');
                        event.preventDefault();
                    }
                  }
                  if(event.which === 65){
                    if(event.shiftKey){
                        move('::w');
                        event.preventDefault();
                    }
                  }
                  if(event.which === 87){
                    if(event.shiftKey){
                        move('::n');
                        event.preventDefault();
                    }
                  }
              })});

        function message (from, msg) {
        $('#lines').append($('<p>').append($('<b>').text(from), msg));
        }

        // dom manipulation
        $(function () {
        $('#set-nickname').submit(function (ev) {
          socket.emit('nickname', $('#nick').val(), function (set) {
            if (!set) {
              clear();

              return $('#splash').addClass('nickname-set');
            }
            $('#nickname-err').css('visibility', 'visible');
          });
          return false;
        });

        $('#send-message').submit(function () {
          var msg = $('#message').val();
          message('me', msg);
          socket.emit('user message', $('#message').val());
          clear();
          $('#lines').get(0).scrollTop = 10000000;
          return false;
        });

        function clear () {
          $('#message').val('').focus();
        }


        });



  body
        #splash
            #nickname
                form.wrap#set-nickname
                  p Welcome to HUNGRY DINOSAURS!! Please enter your name.
                  input#nick
                  p#nickname-err Nickname already in use
            #connecting
                .wrap Connecting to socket.io server

        #outer

            #nicknames

            #chat
              #messages

                #lines

            #map
                #container






